@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

Authenticated: @(User.Identity?.IsAuthenticated ?? false)<br/>
Username: @(User.Identity?.Name ?? "--")<br />
<br />
@Html.ActionLink("login", "LogIn", "Home") -
@Html.ActionLink("logout", "LogOut", "Home")